

a {
  transition: opacity 0.5s;
}

a:hover{
  opacity: .6;
}
























































  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */


















.footer__social-icon{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
